body {
  font-family: Arial, Helvetica, sans-serif;
  width: 375px;
  height: 420px;
  font-size: 16px;
}

#loading {
  width: 8.5rem;
  height: 8.5rem;
  margin-top: 5rem;
}

#invalidMessage {
  display: none;
  text-align: center;
}

#productName {
  font-size:1.1rem;
  color: #4f6b8f;
  position: absolute;
  left: 175px;
  width: 12rem;
  height: 6rem;
  /* padding: 5px; */
  border: none;
  resize: none;
}

#productName:hover {
  border: 1px solid #000000
}

#productImage {
  position: absolute;
  top: 65px;
  border: 2px solid #ccc;
}

label[for=productPrice] {
  font-size:16px;
  position:absolute;
  bottom: 140px;
}

#productPrice {
  font-size:16px;
  width:100px;
  position:absolute;
  bottom: 120px;
}

#addProductButton {
  position:absolute;
  bottom:4rem;
}

.nav {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #dee2e6;
  width: 100%;
}

.active {
  fill: rgb(251, 169, 228);
}

/* icon size */
svg {
  font-size: 1.5rem;
}

/* makes non-active icons gray */
a:not(.active) {
  fill: gray;
}

/* non-active icons hover */
.nav-link:not(.active):hover {
  fill: rgb(22, 22, 22);
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
}

.header p {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 0.7rem;
}

.header a {
  position: absolute;
  top: 0;
  right: 2rem;
  padding-top: 0.51rem;
}

.bottomnav a {
  margin-left: 45px;
}

#listofproducts {
  position: relative;
  overflow: hidden;
}

.container {
  padding-top: 1rem;
}

.add-product {
  word-wrap: break-word;
  font-size: 13px;
}
.add-product label {
  display: block;
}

.current_email.form-group {
  text-align: center;
  padding-bottom: 100px;
}

#emailForm input[type="email"] {
  width: 300px;
}

#current_email {
  display: block;
}

#emailForm label {
  /* line-height: 13px; */
  letter-spacing: 1px;
  /* color: #868a9f; */
}
