body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:350px;
    height:500px;
}

.nav {
    position: absolute;
    bottom:0;
    border-top: 1px solid #dee2e6;
    width:100%;
    
}

a {
    padding-left:200px;
    
}
 /* icon size */
svg {
    font-size:1.5rem;
    
}
/* makes non-active icons gray */
a:not(.active) {
    fill:gray
}

.header {
    text-align: center;
    font-weight: bold;
    height:50px;
    border-top:1px solid rgba(205,212,226,.5);
    margin-top:1px;
    margin-bottom:1px;  
}

.bottomnav {
    
    
}
.bottomnav a {
    padding-left:60px;
}