body {
  font-family: Arial, Helvetica, sans-serif;
  width: 425px;
  height: 500px;
  font-size: 16px;
}

.nav {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #dee2e6;
  width: 100%;
}

.active {
  fill: rgb(251, 169, 228);
}

/* icon size */
svg {
  font-size: 1.5rem;
}

/* makes non-active icons gray */
a:not(.active) {
  fill: gray;
}

/* non-active icons hover */
.nav-link:not(.active):hover {
  fill: rgb(22, 22, 22);
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
}

.header p {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 0.7rem;
}

.header a {
  position: absolute;
  top: 0;
  right: 2rem;
  padding-top: 0.51rem;
}

.bottomnav a {
  margin-left: 63px;
}

#listofproducts {
  position: relative;
  overflow: hidden;
}

.container {
  padding-top: 1rem;
}

/* add-product page */
#loading {
  width: 8.5rem;
  height: 8.5rem;
  margin-top: 5rem;
}

#invalidMessage {
  display: none;
  text-align: center;
}

.add-product {
  word-wrap: break-word;
  font-size: 13px;
}
.add-product label {
  display: block;
}

#productName {
  font-size:1.1rem;
  color: #4f6b8f;
  position: absolute;
  left: 230px;
  width: 12rem;
  height: 6rem;
  /* padding: 5px; */
  border: none;
  resize: none;
}

#productName:hover {
  border: 1px solid #000000
}

#productImage {
  position: absolute;
  top: 65px;
  border: 2px solid #ccc;
}

label[for=notifyPrice] {
  font-size:16px;
  position:absolute;
  bottom: 160px;
}

#notifyPrice {
  font-size:16px;
  width:100px;
  position:absolute;
  bottom: 135px;
}

#addProductButton {
  position:absolute;
  bottom:4rem;
}

/* watchlist page */
#secondaryContainer {
  position:relative;
  width:100%;
  height:375px;
  overflow: auto;
  /* border:1px solid red; */
}

.containerItem {
  position: relative;
  width:100%;
  height:120px;
  overflow:hidden;
  /* border:1px solid blue; */
}

.containerItem:hover {
  /* background-color:#f8dfe1!important; */
  font-weight:bold;
}

.containerItem:hover .pImage {
  transform: scale(1.1);
}

.pURL:nth-child(even) .containerItem {
  background-color:#efeeee;
}

.pName {
  font-size:14px;
  color: #4f6b8f;
  position: absolute;
  left:120px;
}

.pDomain {
  font-size:12px;
  font-style: italic;
  position: absolute;
  left:120px;
  top:75px;
}

.pURL {
  color:inherit!important;
}

.pImage {
  position: absolute;
  left:10px;
  top:10px;
  width:100px;
  height:100px;
  /* border: 2px solid #ccc; */
}

.pCurrent {
  font-weight:bold;
}

.pNotify {
  font-size:13px;
  position: absolute;
  left:120px;
  top:50px;
}

.pCheck {
  font-size:14px;
  position: absolute;
  left:120px;
  top:80px;
}

.pRemove {
  position: absolute;
  right:30px;
  top: 60px;
}

/* supported-stores page  */
.storeContainer {
  position: relative;
  width:100%;
  height:60px;
  overflow:hidden;
}

.storeName {
  text-align:center;
}

/* email pages */
.current_email.form-group {
  text-align: center;
  padding-bottom: 100px;
}

#emailForm input[type="email"] {
  width: 300px;
}

#current_email {
  display: block;
}

#emailForm label {
  /* line-height: 13px; */
  letter-spacing: 1px;
  /* color: #868a9f; */
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}